**.o
Makefile
*.gmo
.deps
*.lo
.libs
config.log
config.h
autom4te.cache
/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.cdt*
/.cproject
/.deps
/.gitignore
/.libs
/.project
/.settings/
/autom4te.cache
/autoscan.log
/build
/build/po/Makefile.in
/config.cache
/config.h
/config.log
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/so_locations
/stamp-h1
/tags
/xmldocs.make
